body { background: #d9d092; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-notify-0 { color: #489022; font-size: 16px; margin-bottom: 5px; }
.block-notify-1 { color: #f833a8; font-size: 14px; margin-bottom: 5px; }
.block-product-2 { color: #6d6be9; font-size: 19px; margin-bottom: 5px; }
.block-router-3 { color: #95e778; font-size: 19px; margin-bottom: 5px; }
.block-shipping-4 { color: #c0b227; font-size: 18px; margin-bottom: 5px; }